
/*  j ai copie le css */

/* GGENERAL*/

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}

h1
{
    font-family:  'crete round';
    font-size: 45px;
    color: #444444;
}

h2
{
    color: #444;
    font-size: 55px;
}

h3
{
    font-size: 30px;
    color: #444;
}

h4
{
    font-size: 24px;
    color: #444;   
}

p
{
    line-height: 20px; 
    color: #777;
}

ul{
    list-style:none;
}

a
{
    text-decoration: none;
    color: #444;
    
}

.wrapper
{
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    
}

.orange
{
    color: #ff7a00;
}

.clear
{
    clear: both;
}

small
{
    font-size: 13px;
    font-style: italic;
}
/* HEADER*/

header
{
    height: 120px;
}

header h1
{
    float: left;
    padding-top: 15px;
}

header nav
{
    float: right;
    margin-top: 50px;
}

header nav ul li
{
    float: left;
    display: inline-block;
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* FOOTER */

footer
{
    height: 260px;
    background-color: #444;
}

footer h1
{
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}
