/* GGENERAL*/

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}

h1
{
    font-family:  'crete round';
    font-size: 45px;
    color: #444444;
}

h2
{
    color: #444;
    font-size: 55px;
}

h4
{
    font-size: 24px;
    color: #444;   
}

p
{
    line-height: 20px; 
    color: #777;
}

ul{
    list-style:none;
}

a
{
    text-decoration: none;
    color: #444;
    
}

.wrapper
{
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    
}

.orange
{
    color: #ff7a00;
}

.clear
{
    clear: both;
}

small
{
    font-size: 13px;
    font-style: italic;
}
/* HEADER*/

header
{
    height: 120px;
}

header h1
{
    float: left;
    padding-top: 15px;
}

header nav
{
    float: right;
    margin-top: 50px;
}

header nav ul li
{
    float: left;
    display: inline-block;
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* main-image*/

#main-image
{
    height: 580px;
    background: url(images/original.jpg) center;
}

#main-image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0px 40px 0px;
    margin-bottom: 20px;
}

.button-1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
}

.button-1:hover
{
   background: #02b8dd; 
}

/* steps */

#steps ul
{
    margin: 80px 0;
}

#steps ul li
{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    /*
    margin-right: 20px; elle fait un prblm
    */
}

#steps h4
{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p
{
    margin-bottom: 20px;
}

#step-1
{
   background: url(images/07eb6d6d-7d72-4767-a532-43cf8091e919.png) no-repeat top center;
}

#step-2
{
   background: url(images/41a92b9f-293d-49bb-9e26-c180f5839c80.png) no-repeat top center; 
    
}

#step-3
{
   background: url(images/ce4f30aa-20a1-4639-af42-0cbeecc6224d.png) no-repeat top center; 
}

/* POSSIBILITIES*/

#possibilities
{
    background-color: #efefef;
    padding: 60px 0px;
}

#possibilities article
{
    float: left;
    width: 440px ;
    height: 270px;
    border-radius: 10px;
}

#possibilities article:first-child
{
    margin-right: 20px;
}

.overlay
{
    background: rgba(255,255,255,0.95);
    width: 180px;
    height: 100%;
    padding: 20px;
    border-radius: 10px 0 0 10px;    
    text-align: center;
    box-sizing: border-box;
}

article h4
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities p
{
    text-align: center;
    margin-bottom: 20px;
}

.button-2
{
    color: #fff;
    background: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
}

.button-2:hover
{
    color: #fff;
    background: #02b8dd;
    
}



















